---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Separador from '../components/Separador.astro';
// import UsuariosListado from '../components/UsuariosLista.svelte';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<Layout>
	<Separador texto="MENU DE MENUS" />

	<div class="flex justify-center mb-4">
		<a href="/muestrario_valija_0menuEstacion" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">MENU DE ESTACIONES</a>
		<a href="/muestrario_valija_0menuCoporativo" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">MENU DE CORPORATIVO</a>
	</div>




	
</Layout>