---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Separador from '../components/Separador.astro';
import ModalApi from '../components/ModalApi.astro';
import UsuariosListaDos from '../components/RC_UsuariosLista.jsx';
// import UsuariosListado from '../components/UsuariosLista.svelte';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>

	<!-- <div class="max-w-sm bg-white rounded-2xl shadow-md overflow-hidden border border-gray-200">
		<img class="w-full h-48 object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-T96ZDntOXfRsoyF5i3J68JJq_w6nv9MtYA&s" alt="Imagen de prueba">
		<div class="p-4">
			<h3 class="text-xl font-semibold text-gray-800 mb-2">Título de la Card</h3>
			<p class="text-gray-600 text-sm mb-4">Este es un pequeño texto descriptivo dentro de una tarjeta para hacer pruebas visuales.</p>
			<button class="bg-blue-600 text-white px-4 py-2 rounded-lg text-sm hover:bg-blue-700 transition">Acción</button>
		</div>
	</div> -->
	<Menu items={[

		{
			title: "Caratula",
			description: "Muestrario de caratula digital",
			icon: "1.- caratula",
			link: "/muestrario_valija_1caratula"
		},
		{
			title: "Hoja de liquidacion",
			description: "Muestrario de hoja de liquidacion",
			icon: "2.- hojaLiquidacion",
			link: "/muestrario_valija_2hojaLiquidacion"
		},
		{
			title: "Resultados Busqueda",
			description: "Muestrario de resultados de busqueda",
			icon: "3.- resultadosBusqueda",
			link: "/muestrario_valija_3resultadosBusqueda"
		},
		{
			title: "Subida de archivos por turno",
			description: "Muestrario de subida de archivos por turno",
			icon: "5-7.- subidaArchivosTurno",
			link: "/muestrario_valija_5-7docsTurno"
		},
		{
			title: "Listados Contadores",
			description: "Muestrario de listados contadores",
			icon: "5.- listadosContadores",
			link: "/muestrario_valija_5listadosContadores"
		},
		
		{
			title: "Liquidacion Open",
			description: "Muestrario de liquidacion open",
			icon: "6.- liquidacionOpen",
			link: "/muestrario_valija_6hojasLiquidacionOpen"
		},
		{
			title: "Medicion",
			description: "Muestrario de medicion",
			icon: "7.- medicion",
			link: "/muestrario_valija_7medicion"
		},
		{
			title: "Historico de carburo",
			description: "Muestrario de historico de carburo",
			icon: "9.- historicoCarburo",
			link: "/muestrario_valija_9historicoCarburo"
		}
	]} />
	  





	
	<div style="text-align: center; margin: 20px;">
		<a href="/crud" style="
			display: inline-block;
			padding: 10px 20px;
			background-color: #007bff;
			color: white;
			text-decoration: none;
			border-radius: 5px;
			font-weight: bold;
			transition: background-color 0.3s;
		">
			Ir al CRUD
		</a>
	</div>

	<UsuariosListaDos client:load />

	<ModalApi />


	<!-- <UsuariosListado client:load /> -->

	<Separador texto="Ejemplo de separador" />
</Layout>
