---
import Layout from "../layouts/Layout.astro";

const files = [
  { name: 'File 1', url: '/file1.jpg' },
  { name: 'File 2', url: '/file2.jpg' },
  { name: 'File 3', url: '/file3.jpg' },
];
---


<Layout>

    <div class="bg-gray-100">
      <p>1.-RECUENTO DE PERIFÉRICOS DEL DÍA LUNES Y FIN DE MES.</p>
      <p>2.-EN CASO DE RECEPCIÓN DE PERIFÉRICOS:<br>
      HOJA DE CBOS, FACTURA CON LA LEYENDA DE SE RECIBIÓ COMPLETO,<br>
      SELLO DE ESTACIÓN, NOMBRE Y FIRMA DE QUIEN RECIBIÓ</p>
      <p>3.-JARREOS:<br>
      CON CORREO, CARÁTULA, HOJA DE EXTRACCIÓN, HOJA DE RETORNOS Y TICKETS.</p>
      <p>4.- BITÁCORAS<br>
      LEGIBLES Y VISIBLES (SUJETA A REVISIÓN)<br>
      EN CASO DE TENER OP MANUALES ADJUNTAR FORMATO DE CARGA MANUAL.</p>
    </div>


    <h1 class="text-center font-bold">Files from Database</h1>
    <div class="files-container p-4 shadow-md">
      {files.map((file) => (
        <div class="file-item border border-gray-300 p-4 rounded-md flex">
          <h2>{file.name}</h2>
          <img src={file.url} alt={file.name} width="200" />
        </div>
      ))}
    </div>
    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Generate Report</button>
  
    <style>
        
    </style>

</Layout>
  


