---
import Layout from "../../layouts/Layout.astro";
import Input from "../../components/ConfirmInput.astro";
import Huella from "../../components/ConfirmHuella.astro";

import "../../styles/global.css";
---

<Layout>
    <div class="container mx-auto bg-white font-sans">
        <header
            class="flex justify-between items-start mb-8 pb-4 border-b border-gray-200"
        >
            <div>
                <img
                    src="../assets/logo_hidrosina.png"
                    alt="Logo Empresa"
                    class="h-24 opacity-80"
                />
            </div>
            <div class="text-right text-sm text-gray-500 leading-tight">
                <p>Datos de la consulta</p>
                <p>2 Registros. Mostrando todos los Registros.</p>
            </div>
        </header>

        <section class="mb-6">
            <h1 class="text-2xl font-bold text-gray-800 mb-2">
                Histórico de movimientos de carburante
            </h1>
        </section>

            <!-- Tabla de Histórico de movimientos de carburante -->
      <div class="overflow-x-auto border border-gray-300 rounded-lg shadow-sm">
      <table class="min-w-full text-sm text-center text-gray-800">
        <caption class="text-base font-semibold text-gray-900 py-2"
          >Ultimas entradas</caption
        >
        <thead class="bg-gray-100 text-gray-700 uppercase text-xs">
          <tr>
            <th class="px-4 py-2 font-medium">Tanque</th>
            <th class="px-4 py-2 font-medium">Producto</th>
            <th class="px-4 py-2 font-medium">Volumen</th>
            <th class="px-4 py-2 font-medium">Volumen a 15 grados</th>
            <th class="px-4 py-2 font-medium">Importe total</th>
            <th class="px-4 py-2 font-medium">IVA retenido flete</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr>
            <td class="px-4 py-2 font-semibold text-center">Tanque 6</td>
            <td class="px-4 py-2 font-semibold text-center">34006 DIESEL</td>
            <td class="px-4 py-2 font-semibold text-center">9.990.00</td>
            <td class="px-4 py-2 font-semibold text-center">9.990.00</td>
            <td class="px-4 py-2 font-semibold text-center">235.486.53</td>
            <td class="px-4 py-2 text-green-600">0.00$</td>
          </tr>
          <tr>
            <td class="px-4 py-2 font-semibold text-center">Tanque 6</td>
            <td class="px-4 py-2 font-semibold text-center">34006 DIESEL</td>
            <td class="px-4 py-2 font-semibold text-center">9.989.00</td>
            <td class="px-4 py-2 font-semibold text-center">9.989.00</td>
            <td class="px-4 py-2 font-semibold text-center">235.462.95</td>
            <td class="px-4 py-2 text-green-600">0.00$</td>
          </tr>
        </tbody>
        <tfoot class="bg-gray-50 font-bold">
          <tr>
            <td class="px-4 py-2 text-center text-black-600">Total:</td>
            <td class="px-4 py-2 text-center text-green-600"></td>
            <td class="px-4 py-2 text-center text-black-600">19.979.00</td>
            <td class="px-4 py-2 text-center text-black-600">19.979.00</td>
            <td class="px-4 py-2 text-center text-black-600">470.949.48</td>
            <td class="px-4 py-2 text-center text-green-600">0.00$</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <br />

        <div class="border border-gray-300 rounded-md p-4 bg-gray-50">
            <Input
                inputId="input-archivo1"
                punto1Id="punto1-archivo1"
                punto2Id="punto2-archivo1"
                titulo="Subir talón de banco"
            />
            <Huella />
        </div>
    </div>
</Layout>
