---
import "../styles/global.css";
import Menu from '../components/Menu.astro';
import Nav from '../components/Nav.astro';
import Huella from '../components/ConfirmHuella.astro';
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>

	
<!-- 		<Nav items={[
			{
				title: "Inicio",
				description: "Página principal de nuestro sitio",
				icon: "home",
				link: "/"
			},
			{
				title: "Servicios",
				description: "Conoce nuestros servicios",
				icon: "work",
				link: "/servicios"
			},
			{
				title: "Contacto",
				description: "Ponte en contacto con nosotros",
				icon: "email",
				link: "/contacto"
			},
			{
				title: "Acerca de",
				description: "Conoce más sobre nosotros",
				icon: "info",
				link: "/acerca"
			}
		]} /> -->
		<div class="px-6">

			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;

	}
	body{

	}
</style>
